<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>

<div class="sp-wrapper">
  <div class="trigger site-navigation">

  </div>
</div>

<!--for Smart Phone-->
<a class="burger-icon" href="#">
    <span></span>
    <span></span>
    <span></span>
</a>
<nav class="burger-nav">
  <ul>
    <li><a href="{{site.url}}{{site.baseurl}}">HOME</a></li>
    {% for sitePage in site.pages %}
      {% if sitePage.title %}
        {% if sitePage.lang == page.lang %}
          <li><a href="{{sitePage.permalink | prepend: site.baseurl }}">{{sitePage.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if page.lang == 'ja' %}
      <li><a href="{{ page.anotherlink | prepend: site.baseurl }}">English</a></li>
    {% else %}
      <li><a href="{{ page.anotherlink | prepend: site.baseurl }}">Japanese</a></li>
    {% endif %}
  </ul>
</nav>

<!--for PC-->
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a>
    {% for sitePage in site.pages %}
      {% if sitePage.title %}
        {% if sitePage.lang == page.lang %}
          <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.permalink | prepend: site.baseurl }}">{{sitePage.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if page.lang == 'ja' %}
      <span class="exclamationMark">/</span><a class="page-link" href="{{ page.anotherlink | prepend: site.baseurl }}">English</a>
    {% else %}
      <span class="exclamationMark">/</span><a class="page-link" href="{{ page.anotherlink | prepend: site.baseurl }}">Japanese</a>
    {% endif %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
  $(".burger-icon").on("click", function () {
    if ($(this).hasClass("is-burger-nav-open")) {
      $(this).removeClass("is-burger-nav-open");
      $(".burger-nav").removeClass("open");
    } else {
      $(this).addClass("is-burger-nav-open");
      $(".burger-nav").addClass("open");
    }
  });
});
</script>